* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* LAYOUT */

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

.wrapper .nav-side {
    width: 220px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}


.wrapper main {
    height: 100%;
    width: calc(100% - 220px);
    overflow: auto;
    background-color: rgb(44, 47, 56);
}

.player {
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 900;
    background-color: rgb(201, 49, 49);

}

/* TESTO */

.grey {
    color: rgba(211, 211, 211, 0.733);
    font-weight: bold;
}

h3 {
    color: lightgray;
    font-size: 20px;
}

/* BOTTONI */

.bottone{
    padding: 10px 40px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 9000px;
  }

/* BARRA SINISTRA */

/* NAV-UP */
.nav-side {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.logo {
    width: 70%;
    padding-bottom: 20px;
}

.nav-sito img {
    width: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* PLAYLIST */

.playlist {
    max-height: calc(100vh - 400px);
    overflow-y: auto; 
    padding-right: 5px; 
}


.playlist ul {
    list-style: none;
}

.playlist ul li {
    margin-bottom: 15px;
}

/* NAV-DOWN */

.nav-down img {
    width: 18px;
    margin-right: 10px;
}

.profile img {
    width: 20px;
    margin-right: 10px;
}
.profile {
    border-top: solid 1px white;
    margin-top: 10px;
    padding-top: 10px;
}
.user {
    background-color: rgb(167, 161, 161);
    border-radius: 50%;
}



/* MAIN */

.fascia-nera {
    background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    z-index: 800;
}



.container-main {
    padding: 10px;
}








